

#star {
    position: fixed;
    margin-left: 300px;
    /* transform-origin: right top;          not workinnnnnng */
    /* justify-content: right;     not workinnnggg  */
    padding: 1%;
    height: 200px;
    margin-top: -10%;
    /* transform:scale(.1);  not working     */
    width: 90px;
    z-index: +10;
    stroke: black;
    stroke-width: 2px;
    fill:black;

}


#mjk {
    display: flex;
    padding-top: 40%;
    padding-left: 7%; 

    width: 80%;
    /* justify-content: center;
    align-self: center;
    border: 2px solid; */
}

#portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
width:100%;
display:block;
margin:auto;
    /* display: inline; */
    /* margin: 1% auto; */
    /* padding-left: 20%; */
    /* justify-content: center; */
    /* border: 2px solid; */
}
/* .text-container .portrait img { */
    /* margin: 1% auto;
} */

.resize {
    width:70%;
}

/* .text-container { */
    /* display: flex;
    grid-template-areas: "title";
    position: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
    padding: 20%; */

/* } */

h1 {
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    padding:0%;

}

h2 {
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    padding-bottom:3%;
    font-style: italic;
}

h3 {
    text-align: left;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    padding:3%;
}

p {
    text-align: left;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;

    /* padding:3px; */
}

#bold {
    text-emphasis-style: bold;
}

footer {
    font-family: 'Spline Sans Mono', monospace;
                font-weight: 400;
                font-size: 7px;
                text-transform: uppercase; 
    width:80%;
    margin: 15 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b c";
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    margin-left: 38px;
    padding: 10px;
}
#email {
    grid-area: c;
    width:100%;
    bottom: 0;
    right: 0;
    stroke-width: 5px; 
}

#instagram {
    grid-area: c;
    transform-origin: bottom right;
    width: 50%;
}
span {
    font-weight: bold;
}

@media only screen and (min-width: 1200px) {
    #star {
        position: fixed;
        top:0px;
        right:0px;
        /* margin-left: 300; */

        /* transform-origin: right top;          not workinnnnnng */
        /* justify-content: right;     not workinnnggg  */
        /* padding: 1%; */
        /* height: 200px; */
        margin-top: -29px;
        margin-right: 2px;
        /* margin-left: 90%; */
        /* transform:scale(.1);  not working     */
        width: 130px;
        z-index: +10;
        stroke: black;
        fill:black;
    
    }
    
    
    #mjk {
        display: flex;
        padding-top: 10%;
        padding-left: 30%; 
        width: 40%;
        /* justify-content: center;
        align-self: center;
        border: 2px solid; */
    }
    
    .portrait {

        display: block;
        margin: 1% auto;
        /* padding-left: 80%; */
        justify-content: center;
        /* border: 2px solid; */
    }
    .text-container .portrait img {
        margin: 1% auto;
    }
    
    .resize {
        width:40%;
        /* height: auto;
        margin: 0 auto; */
        align-content: right;

    }
    
    
    h1 {
        text-align: center;
        font-family: 'Spline Sans Mono', monospace;
        font-weight: 700;
        font-size: 20px;
        padding:0%;
    
    }
    
    h2 {
        text-align: center;
        font-family: 'Spline Sans Mono', monospace;
        font-weight: 400;
        font-size: 15px;
        padding-bottom:3%;
        font-style: italic;
    }
    
    h3 {
        text-align: left;
        font-family: 'Spline Sans Mono', monospace;
        font-weight: 300;
        font-size: 14px;
        padding:3%;
    }
    
    p {
        text-align: left;
        margin-left: 250px;
        margin-right: 250px;

        font-family: 'Spline Sans Mono', monospace;
        font-weight: 300;
        font-size: 17px;
        padding-left: 2%;
        padding-right: 2%;
    
        /* padding:3px; */
    }
    
    #bold {
        text-emphasis-style: bold;
    }
    
    footer {
        font-family: 'Spline Sans Mono', monospace;
                    font-weight: 700;
                    font-size: 7px;
        width:20%;
        margin: 15 auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "a b c";
        align-items: center;
        text-align: center;
        grid-gap: 30px;
        margin-left: 38px;
        padding: 10px;
    }
    #email {
        grid-area: c;
        width:20%;
        bottom: 0;
        right: 0;
        stroke-width: 5px; 
    }
    
    #instagram {
        grid-area: c;
        transform-origin: bottom right;
        width: 50%;
    }
    span {
        font-weight: bold;
    } 
}