

.star-icon{
    position: fixed;
    top:0px;
    right:0px;
    transform:scale(.4);
    transform-origin: top right;
    padding: 8%;
    z-index: +10;

}

.text-container {
    display: flex;
    grid-template-areas: "title";
    position: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
    padding: 20%;

}