

#star {
    position: fixed;
    margin-left: 500;
    /* transform-origin: right top;          not workinnnnnng */
    /* justify-content: right;     not workinnnggg  */
    padding: 1%;
    height: 200px;
    margin-top: -8%;
    /* transform:scale(.1);  not working     */
    width: 90px;
    z-index: +10;
    stroke: black;
    stroke-width: 2px;
    fill:black;

}


#mjk {
    padding-top: 50%;
    padding-left: 10%;
    padding-right: 10%;

}


.text-container {
    display: flex;
    grid-template-areas: "title";
    position: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
    padding: 20%;

}

h1 {
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 700;
    font-size: 15px;
    padding:3%;

}

h2 {
    text-align: center;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    padding:3%;
}

h3 {
    text-align: justify;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 300;
    font-size: 14px;
    padding:3%;
}