.subpage-container { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(7, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 100vw;
    align-items: center;
    overflow: hidden;
    grid-template-areas:
    "heim-hero heim-hero"
    "heim-header heim-header"
    "photo-one photo-two"
    "description description"
    "photo-three text-one"
    ;
    }
   
    .heim-hero { grid-area: heim-hero; } 
    .heim-header { grid-area: heim-header; } 
    .photo-one { grid-area: photo-one; } 
    .photo-two { grid-area: photo-two; } 
    .description { grid-area: description; } 
    .photo-three { grid-area: photo-three; } 
    .text { grid-area: text-one; } 

    img {
        display: block;
        margin-left: 10%;
        margin-right: auto;
        /* margin: 0 auto; important:  !important; */
        width: 70vw;
        /* text-align: center; */
        align-items: center;


    
    } 