.background-fashion {
    background-image: url(assets/background-fashion.jpg);
    height: 5000px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* background-repeat: no-repeat; */
    background-size: cover;
    opacity: 100%;
    position: fixed;
    cursor: url('assets/NL-CC-closed.svg'), auto;
    }

    .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ".g."
        ".h."
        ".i."
        ;
     }
     
a {
    color:black;
    text-decoration: none;
    }
/* all for mobile styling */

  .star-icon {
    position: fixed;
    margin-left: 300px;
    /* padding: 1%; */
    /* margin-top: -10%; */
    width: 90px;
    z-index: +10;
    stroke: black;
    fill: none;

}
     /* .star-icon{
        position: fixed;
        top:0px;
        right:0px;
        transform:scale(.4);
        transform-origin: top right;
        padding: 8%;
        z-index: +10;

    } */

    #star {
        fill:beige;
        stroke-width: 2px;
}

    .hero-container { 
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(5, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        height: 100vh;
        }
        .square-icon { grid-area: 1 / 1 / 3 / 3; } 
     
        .center-hero-items { grid-area: 3 / 2 / 6 / 6; } 
    
      
    
        
    /* svg styling */

 
    .st0{fill:none;stroke:#000000;stroke-width:1.1988;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#000000;stroke-width:1.1113;stroke-miterlimit:10;}
    .st0{fill:none;stroke:#000000;stroke-width:1.1988;stroke-miterlimit:10;}
    #monika-logo:hover {
        fill:#3700ff;
        opacity: 30%;
    }
   

    .text-container {
        display: flex;
        grid-template-areas: "title";
        white-space: nowrap;
        position: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Spline Sans Mono', monospace;
        font-weight: 400;
        padding: 20%;
        color: rgb(255, 255, 255);
    
    }




.box-styling {
height: 350px;
width: 350px;
display: block;
margin: 2% auto;
row-gap: 8%;
background-color: rgb(110, 110, 110);
/* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
}



.box-wrapper{
height:350px;

}
.box1 {
grid-area: a;
/* padding-top: 17%; */


}

.box2 {
grid-area: b;
padding-bottom:80%;
}

.box3 {
grid-area: c;
}

.box4 {
grid-area: d;
}

.box5 {
grid-area: e;
}

.box6 {
grid-area: f;
}

.box7 {
grid-area: g;
}

.box8 {
grid-area: h;
}

.box9 {
grid-area: i;
padding-bottom: 30%;
}

.bigText {
font-size: 2em;
padding-right: .5ch;
}

/* MEDIA QUERY FOR MOBILE - nooooooot working :') */
@media only screen and (min-width: 1200px) {
a {
    color:rgb(244, 7, 7);
    text-decoration: none;
    }
.star-icon{
    position: fixed;
    top:0px;
    right:0px;
    width:130px;
    padding: 1%;
}

.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ". g h i ."
    ;
    }

.hero-container { 
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    height: 100vh;
    }
    .square-icon { grid-area: 1 / 1 / 3 / 3; } 
 
    .center-hero-items { grid-area: 3 / 2 / 6 / 6; } 

.icon-container {
    justify-content: space-between;
    height: 200px;
    width: 710px;
}

}
