.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter:blur(1px);
    -webkit-filter: blur(2px);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .hovereffect h2 {
    text-transform: uppercase; 
    text-align: center;
    position: relative;
    font-size: 1em;
    padding: 10px;
    font-family: 'Spline Sans Mono', monospace;
    color:#3400f1;
  }
  

  .hovereffect p {
    /* display: inline-block; */
    text-decoration: none;
    padding: 100px;
    margin: 0%;
    background-color: transparent;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #f7f7fe;
    text-transform: none;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 400;
    margin-top:3%;
  }
 
  
  .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #f7f7fe;
    text-transform: uppercase;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 700;
    margin-top:10%;
  }
  

  .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } 
  #black-hover:hover {
    color: black;
  } 
  #black-hover {
    color: black;
  } 