.video-background {
    background-image: url(assets/hero.mp4);
    height: 5000px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: fixed;
    cursor: url('assets/NL-CC-closed.svg'), auto;
    }


    a {
        color:black;
        text-decoration: none;
        }
/* all for mobile styling */
        .star-icon{
            width: 90px;
            margin-left: 300px;
            /* height: 200px; */
             position: fixed;
            /* top:0px;
            right:0px; */
            /* transform:scale(.4); */
            /* transform-origin: top right; */
            /* padding: 8%; */
            z-index: +10; */

        }
        .square-icon {
            top:0px;
            left:0px;
            width:190px; 
            stroke: 10px;
            transform:scale(.4);
            transform-origin: top left;
            padding: 8%;
            z-index: +10;
        }
        .hero-container { 
            display: grid; 
            grid-template-columns: repeat(6, 1fr); 
            grid-template-rows: repeat(5, 1fr); 
            grid-column-gap: 0px;
            grid-row-gap: 0px; 
            height: 100vh;
            }
            .square-icon { grid-area: 1 / 1 / 3 / 3; } 
         
            .center-hero-items { 
                grid-area: 3 / 2 / 6 / 6; 
                margin-left: -20px;
            } 
        
          
        
            nav ul {
                display: flex;
                /* grid-gap: 100px; */
                justify-content: center;
                
                align-items: center;
                text-transform: uppercase;
                text-align: center;
                font-family: 'Spline Sans Mono', monospace;
                font-weight: 700;
                font-size: 15px;
                padding:3%;
                list-style: none
                }
                nav ul li{
                    padding:10px;
                }
                nav ul li:hover  {
                    text-transform: lowercase; 
                    text-align: center;
                    position: relative;
                    font-size: 1em;
                    font-family: 'Spline Sans Mono', monospace;
                    color:#3700ff;
                  }
            
        /* svg styling */

        /* .st0{fill:none;stroke:#000000;stroke-width:1.1988;stroke-miterlimit:10;}
        .st1{fill:none;stroke:#000000;stroke-width:1.1113;stroke-miterlimit:10;}
        .st0{fill:none;stroke:#000000;stroke-width:1.1988;stroke-miterlimit:10;} */
        #monika-logo:hover {
            fill:#3700ff;
            opacity: 30%;
        }
    .stroke-weight {
        fill:none;
        stroke:#000000;
        stroke-width:1.1988;
        stroke-miterlimit:10;}
    

        /* .st0{fill:url(#SVGID_1_);}
        .st1{fill:url(#SVGID_00000031197272149693776410000001484790774995791010_);}
        .st2{fill:url(#SVGID_00000104663996622392448190000014587714548466630021_);}
        .st3{fill:url(#SVGID_00000150078049651925053820000015031166907007363999_);}
        .st4{fill:url(#SVGID_00000031187239358602887010000001226332664411794570_);}
        .st5{fill:url(#SVGID_00000143612303679972401110000014699281586131664267_);}
        .st6{fill:url(#SVGID_00000080182196567080656890000001017125508255533755_);} */
        /* #monika-logo:hover {
         background: radial-gradient(ellipse 50px 30px,
     black,blue);
    } */


    .content {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ".g."
        ".h."
        ".i."
        ;
    }





.box-styling {
    height: 350px;
    width: 350px;
    display: block;
    margin: 2% auto;
    row-gap: 8%;
    background-color: rgb(110, 110, 110);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }



.box-wrapper{
  height:350px;
  
}
.box1 {
    grid-area: a;
    /* padding-top: 17%; */
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.box7 {
    grid-area: g;
}

.box8 {
    grid-area: h;
}

.box9 {
    grid-area: i;
    padding-bottom: 30%;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}

footer {
    font-family: 'Spline Sans Mono', monospace;
                font-weight: 700;
                font-size: 7px;
    width:80%;
    margin: 15 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b c";
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    margin-left: 38px;
    padding: 10px;
}
#email {
    grid-area: c;
    width:100%;
    bottom: 0;
    right: 0;
    stroke-width: 5px; 
}

#instagram {
    grid-area: c;
    transform-origin: bottom right;
    width: 50%;
}

/* MEDIA QUERY FOR MOBILE - nooooooot working :') */
@media only screen and (min-width: 1200px) {
    a {
        /* color:rgb(244, 7, 7); */
        text-decoration: none;
        }
    .star-icon{
        position: fixed;
        top: 0;
        right: 0;
        width:130px;
        padding: 15px;
        
    }
    .square-icon {
        top:0px;
        left:0px;
        width:300px; 
        stroke: 10px;
    }
    .hero-container { 
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(5, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        height: 100vh;
        }
        .square-icon { grid-area: 1 / 1 / 3 / 3; } 
     
        .center-hero-items { grid-area: 3 / 2 / 6 / 6; } 
    
      
    
        nav ul {
            display: flex;
            /* grid-gap: 100px; */
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-family: 'Spline Sans Mono', monospace;
            font-weight: 700;
            font-size: 25px;
            padding:3%;
            list-style: none
            }
            nav ul li{
                padding:10px;
            }
            nav ul li:hover  {
                text-transform: lowercase; 
                text-align: center;
                position: relative;
                font-size: 1em;
                font-family: 'Spline Sans Mono', monospace;
                color:#3700ff;
              }

    nav {
        padding-left: 0;
        font-size: 10px;
    }
    .icon-container {
        justify-content: space-between;
        height: 200px;
        width: 710px;

    }

    .content {
        /* height: 100%; */
        display: grid;
        grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-rows: auto;
        grid-gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        grid-template-areas:
        ". a b c ."
        ". d e f ."
        ". g h i ."
        ;
    }
    footer {
        font-family: 'Spline Sans Mono', monospace;
                    font-weight: 700;
                    font-size: 7px;
        width:20%;
        margin: 15 auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "a b c";
        align-items: center;
        text-align: center;
        grid-gap: 30px;
        margin-left: 38px;
        padding: 10px;
    }
    #email {
        grid-area: c;
        width:20%;
        bottom: 0;
        right: 0;
        stroke-width: 5px; 
    }
    
    #instagram {
        grid-area: c;
        transform-origin: bottom right;
        width: 50%;
    }
}
