.video-background {
    background-image: url(assets/hero.mp4);
    height: 5000px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: fixed;
    cursor: url('assets/NL-CC-closed.svg'), auto;
    }
    a {
        color:black;
        text-decoration: none;
        }

    /* main {
    display: grid;
    grid-template-areas: 
    "nav      topbar  nav"
    "topbar   logo    topbar"
    "subpage  subpage subpage"
    "content  content content" 
    "footer   footer  footer";
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-row: 30% 40% auto 20%;
    gap: 5%;
    } */

    .icon-container {
    grid-area: nav;
    display: flex;
    flex-grow: 1;
    float: right;
    justify-content: space-between;
    height: 200px;
    width: 1420px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 60%;
    size: 100%;
    z-index: 1;
    position: fixed;
    padding-top: 1%;
    }

    
.monika-container {
    width: 50%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}
.hovereffect .monika-container {
    
}
nav ul {
    display: flex;
    /* grid-gap: 100px; */
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Spline Sans Mono', monospace;
    font-weight: 700;
    gap: 10%;
    font-size: 25px;
    padding: 3%;
    list-style: none
    }
    nav ul li{
        padding:10px;
    }
    nav ul li:hover  {
        text-transform: lowercase; 
        text-align: center;
        position: relative;
        font-size: 1em;
        font-family: 'Spline Sans Mono', monospace;
        color:#3700ff;
      }

    /* .text-container {
        display: flex;
        grid-gap: 100px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: 'Spline Sans Mono', monospace;
        font-weight: 700;
        font-size: 15px;
        padding:3%;

        }
        .text-container:hover  {
            text-transform: lowercase; 
            text-align: center;
            position: relative;
            font-size: 1em;
            font-family: 'Spline Sans Mono', monospace;
            color:#3700ff;
          } */
    

        .hovereffect .text-container {
            text-transform: lowercase; 
            color:#3400f1;
          }


    .hero-container {
    position: fixed;
    z-index: -10;
}


.st0{fill:none;stroke:#000000;stroke-width:1.1988;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-width:1.1113;stroke-miterlimit:10;}
.st0{fill:none;stroke:#000000;stroke-width:1.1988;stroke-miterlimit:10;}





.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ". g h i ."
    ;
}

.box-styling {
    height: 350px;
    width: 350px;
    display: block;
    margin: 2% auto;
    row-gap: 8%;
    background-color: rgb(110, 110, 110);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }



.box-wrapper{
  height:350px;
  
}
.box1 {
    grid-area: a;
    padding-top: 17%;
    

}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.box7 {
    grid-area: g;
}

.box8 {
    grid-area: h;
}

.box9 {
    grid-area: i;
    padding-bottom: 30%;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}

/* MEDIA QUERY FOR MOBILE */
@media (max-width:735px){
    nav {
        padding-left: 0;
    }

   .image-gallery {
       padding-bottom: 200%;
       grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
       grid-template-areas:
       ".a."
       ".b."
       ".c."
       ".d."
       ".e."
       ".f."
       ".g."
       ".h."
       ".i."
       ;
   }